{% extends 'flatpages/default.html'%}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>

            </tr>
            {% for one_news in news %}
            <tr>
                <td>{{ news.name }}</td>
                <td>{{ news.date_published|date:'M d Y' }}</td>
                <td>{{ news.text|trancatechars:20}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нету</h2>
    {% endif %}
    {% if page_obj.has_previos %}
        <a href="?page=1">1</a>
        {% if page_obj.previos_page_number != 1%}
            <a href="?page={{page_obj.previos_has_number}}">{{page_obj.previos_has_number}}</a>
        {% endif%}
    {% endif%}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number}}">{{ page_obj.next_page_number}}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?page={{ page_obj.paginator_num_pages }}"> {{ page_obj.paginator_num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}