{% extends 'flatpages/default.html'%}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>

            </tr>
            {% for one_news in news %}
            <tr>
                <td>{{ news.name }}</td>
                <td>{{ news.date_published|date:'M d Y' }}</td>
                <td>{{ news.text|trancatechars:20}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нету</h2>
    {% endif %}
{% endblock content %}